<p id="notice"><%= notice %></p>

<h1>Movie Schedule For <%= @movie.name%> </h1>
<% @show_times.each do |s| %>
	<h2><%= s[0] %></h2>
	<% s[1].each do |show| %>
		<%= show %> <br />
	<% end %>
<% end %>