<p id="notice"><%= notice %></p>

<h1>Movie Schedule For <%= @movie.name%> </h1>

<h2>Weekdays</h2>
<% @weekday_movies.each do |m| %>
	<%= m %><br />
<% end %>
<h2>Weekends</h2>
<% @weekend_movies.each do |m| %>
	<%= m %><br />
<% end %>